/* General styling */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #f4f4f9, #eaeaea);
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #4c2b99;
}

.navbar .logo {
  color: #fff;
  font-size: 24px;
}

.navbar .links a {
  color: #fff;
  margin-right: 15px;
}

.navbar .search-bar {
  padding: 5px;
}

.navbar button {
  background-color: #fff;
  color: #4c2b99;
  border: none;
  padding: 5px 10px;
}

.login-btn:hover, .signup-btn:hover {
  background-color: #eaeaea;
}

/* Game container styling */
.game-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.game-info h1 {
  color: #4c2b99;
}

.game-info p span {
  color: #007BFF;
}

.game-stats p {
  font-size: larger;
}

#timer {
  color: red;
}

#attempts {
  color: green;
}

/* Input and button styling */
.game-play input {
   width:
``
